<p>note works!</p>
<select [(ngModel)]="selectedUserId" (ngModelChange)="onUserSelectChange(selectedUserId)">
  <option *ngFor="let user of users$ | async" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
</select>
<br>
<br>
<textarea [(ngModel)]="noteText" style="min-width: 700px; min-height: 300px"></textarea>
<br>
<br>

<button (click)="addMessage(selectedUserId, noteText)">Add message</button>
<br>
<br>
<app-note-viewer-by-user *ngIf="selectedUserId" [selectedUser]="selectedUserId"></app-note-viewer-by-user>
