<p>note works!</p>
<select #selectedUser [(ngModel)]="selectedUserId" (ngModelChange)="onUserSelectChange($event)">
  <option *ngFor="let user of users$ | async" value="{{user.id}}">{{user.firstName}} {{user.lastName}}</option>
</select>
<br>
<br>
<textarea #noteText style="min-width: 700px; min-height: 300px"></textarea>
<br>
<br>

<button (click)="addMessage(selectedUser.value, noteText.value)">Add message</button>
<br>
<br>
<app-note-viewer-by-user *ngIf="selectedUserId" [selectedUser]="selectedUserId"></app-note-viewer-by-user>
